body {
    background-color: #fff;
    margin: 0;
}

header {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
}
ul li {
    list-style: none;
    margin-right: 100px;
    text-align: center;
}
nav  {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 1px;
}

p::first-letter {
  color: blue;
  float: left;
  font-size: 2.6em;
  font-weight: bold;
  line-height: 1;
  margin-inline-end: 0.2rem;
  text-align: center;
}
